<launch>
    <!-- -->
    <!-- text recognizer -->
    <node name="text_recognition_node" pkg="nodelet" type="nodelet" args="manager" output="screen"/>
    <!-- -->
    <!-- text detection plugin -->
    <node name="text_detector_loader" pkg="nodelet" type="nodelet" 
          args="load text_recognition/TextDetector text_recognition_node" output="screen">
        <remap from="image_raw" to="image_raw"/>
        <remap from="image_out" to="text_image"/>
        <remap from="texts_out" to="text_data"/>
        <param name="republish_image" value="true"/>
    </node>
    <!-- -->
    <!-- word recognition plugin -->
    <node name="word_recognizer_loader" pkg="nodelet" type="nodelet" 
          args="load text_recognition/WordRecognizer text_recognition_node" output="screen">
        <remap from="image_raw" to="text_image"/>
        <remap from="texts_in" to="text_data"/>
        <remap from="image_out" to="word_image"/>
        <remap from="words_out" to="word_data"/>
        <param name="republish_image" value="true"/>
    </node>
    <!-- -->
    <!-- object drawing plugin -->
    <node name="object_drawer_loader" pkg="nodelet" type="nodelet" 
          args="load object_drawer/ObjectDrawer text_recognition_node" output="screen">
        <remap from="image_raw" to="word_image"/>
        <remap from="objects_in" to="word_data"/>
        <remap from="image_out" to="annotated_image"/>
    </node>
    <!-- -->
    <!-- viewer -->
    <node name="object_viewer" pkg="nodelet" type="nodelet" 
            args="standalone image_view/image" output="screen">
        <remap from="image" to="annotated_image"/>
    </node>
</launch>